@import "../variables";
.container {
    display: flex;
    justify-content: center;
    .wrapper {
        display: flex;
        justify-content:space-between ;
    }
    .buttons {
        display: flex;
        button {
            background-color: $primaryBlue;
            border: none;
            color: white;
            font-weight: bold;
            margin: 0 0.2rem;
            width: 2rem;
            border-radius: 5px;
            font-size: 1.2rem;
        }
    }
    input {
        width: 1.5rem;
        text-align: center;
        outline: grey;
    }
}